{% extends "UniversityInfo/base.html" %}
{% load static %}

{% block content %}



<div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>Sylhet Engineering College</h1>
        <p>This is a short description about Sylhet Engineering College.This is a short description about Sylhet Engineering CollegeThis is a short description about Sylhet Engineering College</p>
</div>

<div class="row">

  <div class="col-sm-8 col-sm-offset-2">

  <font face="verdana" size="10">About This Project</font><hr>

  <h4>This is a test project developed by <strong>Rasel Miah</strong> from <strong>Sylhet Engineering College</strong> </h4>



 </div>

</div>

{% endblock %}