{% extends "UniversityInfo/base.html" %}
{% load static %}

{% block content %}


<div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>Sylhet Engineering College</h1>
        <p>This is a short description about Sylhet Engineering College.This is a short description about Sylhet Engineering CollegeThis is a short description about Sylhet Engineering College</p>
</div>

<div class="row">

  <div class="col-sm-5 col-sm-offset-4">

  	<font face="verdana" size="10">Department List</font><hr>

		{% for ob in qs %}

		<a href="{% url "UniversityInfo:dept_detail" ob.short_name %}" class="btn btn-info">{{ ob.dept_name }}</a><hr>

		{% endfor %}

  </div>

</div>
        

{% endblock %}